<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="footer">
        <p>Designed and Developed by <span>PavanKumar Kasa</span></p>
        <p class="footer-p">Copyright © <%= year %> </p>
        <div class="footer-links">
            <a href="https://github.com/kasapavankumar"><i class="fa-brands fa-github"></i></a>
            <a href="https://x.com/PavanKumarKasa8?t=bRkPjEOtGXusiLApN-CDZQ&s=09"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.linkedin.com/in/pavan-kumar-kasa-151555287/"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/pavankumar.kasa/?igshid=OGQ5ZDc2ODk2ZA%3D%3D"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</body>
</html>
