@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url(./images/backgroungimg\ -\ Copy.jpg);
    font-family: 'Inter', sans-serif;
}
.project-container{
    font-size: 20px;
    font-weight: 400;
    margin: 0px 40px;
    padding-top: 100px;
}
.project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.academic-card{
    background-color: transparent;
    transition: all .3s ease;
    backdrop-filter: blur(20px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;
}
.academic-img{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 20px;
    width: 100%;
}
.academic-li::marker{
    content: '➡️ ';
}
.academic-li{
    line-height: 1.5;
}
h4{
    text-align: center;
    width: 100%;
}
.project-cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}
.project-card{
    width: 400px;
    height: 500px;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.project-card p{
    font-size: 17px;
    line-height: 1.5;
    margin-top: 0;
}
.project-card h4{
    margin-bottom: 10px;
}
.demo-btn{
    width: 140px;
    height: 50px;
    background-color: navy;
    color: white;
    font-size: 20px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}
.demo-btn a{
    color: white;
    text-decoration: none;
}
.demo-btn:hover,.demo-btn:active{
    background-color: rgba(28, 28, 75, 0.696);
}
.recent-h1{
    margin-bottom: 5px;
    margin-top: 50px;
}
.recent-p{
    margin-top: 0;
}
.project-card:hover,.project-card:focus{
    transform: scale(1.04);
}
.academic-card:hover,.academic-card:focus{
    transform: scale(1.02);
    border: 0.2px solid blue;
}
/* scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgb(187, 215, 227);
}
::-webkit-scrollbar-thumb{
    background: navy;
    border-radius: 30px;
}
@media (max-width:1024px) {
    .project-container{
        font-size: 18px;
    }
}
@media (max-width:768px) {
    .project-card{
        width: 300px;
        height: 500px;
    }
    .project-card img{
        width: 300px;
    }
    .project-cards{
        gap: 15px;
    }
    .demo-btn{
        width: 120px;
        height: 35px;
    }
}
@media (max-width:576px) {
    .academic-card{
        width: 520px;
    }
    .academic-img{
        width: 100%;
    }
    .academic-img img{
        width: 180px;
    }
    .academic-li{
        font-size: 16px;
    }
    .project-cards{
        width: 520px;
    }
    .project-card{
        width: 265px;
        height: 450px;
    }
    .project-cards{
        gap: 10px;
    }
    .project-card img{
        width: 230px;
    }
    .project-card p{
        font-size: 14px;
    }
    .demo-btn{
        width: 80px;
        height: 40px;
        font-size: 14px;
    }
}
@media (max-width:426px) {
    .academic-card{
        width: 345px;
    }
    .academic-img{
        width: 100%;
    }
    .academic-img img{
        width: 120px;
    }
    .academic-li{
        font-size: 14px;
    }
    .academic-img{
        gap: 10px;
    }
    .project-cards{
        flex-direction: column;
        width: 345px;
        align-items: center;
        justify-content: center;
        z-index: 1;
        gap: 10px;
    }
    .recent-p{
        text-align: center;
    }
}
@media (max-width:321px) {
    .academic-card{
        width: 290px;
    }
    .academic-img{
        justify-content: unset;
    }
}